<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ocddevelopers.androidwearables.glasswarebasics">

    <uses-permission
        android:name="com.google.android.glass.permission.DEVELOPMENT" />


    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_timer_50">

        <activity
            android:name=".HelloWorldActivity"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/hello_trigger" />
        </activity>

        <activity
            android:name=".ScrollingCardsActivity"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/scroll_demo_trigger" />
        </activity>

        <activity
            android:name=".BetterHelloWorldActivity"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/better_hello_trigger" />
        </activity>

    </application>

</manifest>
